.metricas-container {
    display: flex;
    justify-content: space-around;
    margin-left: 3em;
    margin-top: 6em;
}

.titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-principal);
}

.sub-titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--grey);
}

.paragrafo {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-2);
}